{% extends 'base.html' %}

{% block title %}
<title>{{name}}</title>
{% endblock %}

{% block sidebar %}
<div class="col-md-4">
  <div class="list-group">
      {% for i in categories %}
      <a href="{{i.get_absolute_url}}" class="list-group-item list-group-item-action">{{i.title}}</a>
      {% endfor %}
      
  </div>
</div>
{% endblock %}

{% block content %}
<h2>Посты автора {{name.user}}    <a href="{% url 'podpiski' user_id=name.user.pk %}" class="btn btn-primary">Подписаться</a></h2>
<div class="card nb-3">
  {% for i in person_posts %}
  <div class="card-header">
      {{i.category}}
  </div>
  <div class="card-body">
      <div class="media"> 
          {% if i.photo %}
              <img src="{{i.photo.url}}" width="300px" alt="">
          {% else %}
          <img src="https://placebeard.it/640x360" alt="">
          {% endif %}
          <div class="media_body">
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">{{i.content}}</p>
              <p class="card-text">Автор: {{i.author}}</p>
              <a href="{{i.get_absolute_url}}" class="btn btn-primary">Подробнее</a>
          </div>
      </div>
  </div>
  <div class="card-footer text-muted">
    {{i.created_ad}}
  </div>
  {% endfor %}
</div>
{% endblock %}